matplotlib
numpy
Pillow
tqdm
wandb
torch==1.11.0
torchvision==0.12.0
numpy
tqdm
tensorboard
tensorboardX
ml-collections
scipy
timm
einops
torchmetrics
pytorch-ignite
monai
opencv-python
scikit-image
yacs